<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if title %}{{ title }} &mdash; {% endif %}{{ site.name }}</title>
<meta name="description" content="{{ description if description else site.tagline }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<script defer src="/js/timeago.js"></script>
</head>
<body>
<a class="skip" href="#main">Skip to content</a>
<div class="pad">
  <div class="shell">
    {% if homeRail %}{% include "partials/home-rail.njk" %}{% else %}{% include "partials/rail.njk" %}{% endif %}
    <div id="main">
      {{ content | safe }}
      {% include "partials/footer.njk" %}
    </div>
  </div>
</div>
</body>
</html>
