---
layout: base.njk
navActive: /blog/
---
<article>
  <p class="article__back"><a href="/blog/">&larr; blog &amp; articles</a></p>

  {% if image %}
  <figure class="article__hero">
    <img src="{{ image }}" alt="{{ imageAlt if imageAlt else title }}">
    {% if imageCaption %}<figcaption>{{ imageCaption }}</figcaption>{% endif %}
  </figure>
  {% endif %}

  <div class="rule rule--heavy article__rule" aria-hidden="true"></div>

  <div class="article__meta">
    <div class="article__stamp">
      <time class="article__ago" datetime="{{ page.date | isoDateTime }}">{{ page.date | timeAgo }}</time>
      <time class="article__date" datetime="{{ page.date | htmlDateString }}">{{ page.date | dateReadable }}</time>
      {% set mins = (content | striptags | length / 1100) | round %}
      <span class="article__read">{{ mins if mins > 0 else 1 }} min read</span>
    </div>
    <div>
      <h1 class="article__title">{{ title }}</h1>
    </div>
  </div>

  <div class="prose">
    {{ content | safe }}

    {# Share targets need an absolute URL. Add a "url" key to src/_data/site.js
       to control this from one place; the fallback keeps it working meanwhile. #}
    {% set origin = site.url if site.url else "https://zotomayor.com" %}
    {% set fullUrl = origin + page.url %}
    <div class="share">
      <span class="share__label">share</span>
      <a href="https://twitter.com/intent/tweet?text={{ title | urlencode }}&amp;url={{ fullUrl | urlencode }}" rel="noopener">x / twitter</a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ fullUrl | urlencode }}" rel="noopener">facebook</a>
      <a href="mailto:?subject={{ title | urlencode }}&amp;body={{ fullUrl | urlencode }}">email</a>
    </div>
  </div>

  {% include "partials/comments.njk" %}

  <div class="pagefoot">
    <a class="btn" href="/blog/"><span aria-hidden="true">&larr;</span> all dispatches</a>
  </div>
</article>
