---
layout: base.njk
nav: blog
title: Blog
permalink: /blog/
---
<section class="page-header teal"><div class="script">read on!</div><h1>Blog</h1></section>
<section class="list">
  {% for post in collections.posts | reverse %}
  <a class="list-item" href="{{ post.url }}">
    <time>{{ post.data.date | dateReadable }}</time>
    <div>
      <div class="list-title">{{ post.data.title }}</div>
      <div class="list-excerpt">{{ post.data.description }}</div>
    </div>
  </a>
  {% endfor %}
</section>
